body {
  background-color: #222;
  inset: 0;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
a {
  color: rgb(128, 128, 128);
  text-decoration: none;
  transform: 0.2s;
}
a:hover {
  color: #b9b9b9;
}

.gradient {
  position: fixed;
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#37eba9, #5b37eb);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
}
@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}

.container {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
.form {
  align-items: center;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.nav a {
  margin-right: 20px;
}
input {
  width: 300px;
  padding: 15px 50px;
  border: 1px solid #ddd;
  background-color: #242526;
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
  color: white;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  width: 350px;
  border-radius: 15px;
  outline: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 15px 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: inherit;
  transition: all 0.3s ease;
  font-weight: 500;
}
button:hover {
  border: 1px solid #2d81f4;
  background-color: #263951;
  color: #2d81f4;
  cursor: pointer;
}

input:focus,
select:focus,
a:focus,
textarea:focus,
button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
}

.response {
  width: 400px;
  position: fixed;
  bottom: 20px;
  border-radius: 15px;
  padding: 10px;
}
.small-btn {
  width: 40%;
  margin-right: 10px;
  padding: 15px 20px;
  color: #2d81f4;
  background-color: #263951;
  border: 1px solid #2d81f4;
}
.small-btn:hover {
  color: #fff;
  background: none;
  border: 1px solid #d9d9d9;
}
